{% extends "base.html.twig" %}

 {% block body %}

     <div class="p-3 mx-auto text-center">
         <h1 class="display-4">AppyLove</h1>
     </div>

     <div class="py-5 bg-light">
         <div class="container">
             <div class="row">
                 {% for  user in users %}
                     <div class="col-md-4 mt-4">
                         <div class="card shadow-sm">
                             <img src="{{ asset('uploads/images/'~ user.featuredImage) }}"
                                  alt="{{ user.pseudo }}" class="card-img-top" style="object-fit: cover; object-position: top;" width="230" height="300">
                             <div class="card-body">
                                 <h5 class="card-title">{{ user.pseudo ~ ' | ' ~ user.age ~ ' ans' ~ ' | ' ~ user.city }}</h5>
                                 <hr>
                                 <p class="card-text">{{ user.bio }}</p>
                                 <a href="{{ path('default_user', {
                                     'id' : user.id
                                 }) }}" class="btn btn-outline-primary"> <i class="far fa-comments"></i> Message en privé </a>
                             </div> <!-- /.card-body -->
                         </div> <!-- /.card -->
                     </div> <!-- /.col-md-4 -->
                 {% endfor %}

             </div> <!-- /.row -->
         </div> <!-- /.container -->
     </div> <!-- /.py-5 -->
 {% endblock %}
