{% extends "base.html.twig" %}

{% block title %}AppyLove{% endblock %}

{% block body %}
    <!-- page d'accueil #01 (user pas connecté) -->
    <div class="jumbotron d-flex align-items-center">
        <div class="container text-center">
            <h1>APPY<br>LOVE</h1>
            <br>
            <br>
            <a href="{{ path('user_create') }}">
                <button type="button" class="btn btn-primary">Inscription</button>
            </a>
            <a href="{{ path('app_login') }}">
                <button type="button" class="btn btn-light">Connexion</button>
            </a>
        </div>

        <div class="rectangle-1"></div>
        <div class="rectangle-2"></div>
        <div class="rectangle-transparent-1"></div>
        <div class="rectangle-transparent-2"></div>
        <div class="circle-1"></div>
        <div class="circle-2"></div>
        <div class="circle-3"></div>
        <div class="triangle triangle-1">
            <img src="{{ asset('assets/img/obj_triangle.png') }}" alt="">
        </div>
        <div class="triangle triangle-2">
            <img src="{{ asset('assets/img/obj_triangle.png') }}" alt="">
        </div>
        <div class="triangle triangle-3">
            <img src="{{ asset('assets/img/obj_triangle.png') }}" alt="">
        </div>
        <div class="triangle triangle-4">
            <img src="{{ asset('assets/img/obj_triangle.png') }}" alt="">
        </div>
    </div>
{% endblock %}