<nav class="navbar navbar-expand-xl navbar-light bg-transparent pmd-navbar pmd-z-depth ">

    <!-- Nav left -->
    <a class="navbar-brand" href="{{ path('index') }}">
        <img class="logo" src="{{ asset('assets/img/appylovelogo.png') }}" width="80" height="70" alt="Logo AppyLove"/>
    </a>

    <!-- Nav hobbies -->
    <div class="collapse navbar-collapse" id="navbar-nav-header">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ path('default_hobbies', { 'alias' : 'musique' }) }}">Musique</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ path('default_hobbies', { 'alias' : 'sport' }) }}">Sport</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ path('default_hobbies', { 'alias' : 'art' }) }}">Art</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ path('default_hobbies', { 'alias' : 'tech-it' }) }}">Tech IT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ path('default_hobbies', { 'alias' : 'voyage' }) }}">Voyage</a>
            </li>
            <li class="nav-item">
                <a id="side-search-open" class="nav-link" href="#">
                    <span class="lnr lnr-magnifier"></span>
                </a>
            </li>
            <li class="nav-item only-desktop">
                <a class="nav-link" id="side-nav-open" href="#">
                    <span class="lnr lnr-menu"></span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Nav menu with user information -->

    <div class="dropdown pmd-dropdown pmd-user-info ml-auto">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="javascript:void(0);" class="btn-user dropdown-header media align-items-center" data-toggle="dropdown"
           data-sidebar="true" aria-expanded="false">
          <img class="mr-2" src="{{ asset("uploads/images/" ~ app.user.featuredImage) }}" width="40" height="40" alt="avatar">
            <i class="material-icons md-light ml-2 pmd-sm"></i>
        </a>
        {% endif %}
        <!-- si l'utilisateur est connecté -->
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <a class="dropdown-item" href="{{ path('profile_update') }}" >Paramètres</a>
                <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
            </ul>

            <!-- si l'utilisateur n'est pas connecté -->
        {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ path('user_create') }}">
                        <button class="btn btn-light my-2 my-sm-0">Inscription</button>
                    </a>
                </li>

                <li>
                    <a href="{{ path('app_login') }}">
                    <button class="btn btn-info my-2 my-sm-0">Connexion</button>
                    </a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>