<nav class="navbar navbar-expand-xl navbar-light bg-transparent pmd-navbar pmd-z-depth">
    <div class="container">

        <!-- Nav left -->
        <a class="navbar-brand d-flex align-items-center" href="{{ path('default_homepage') }}">
            <img class="logo" src="{{ asset('assets/img/logo_bleu_rose.png') }}" width="100" height="100"
                 alt="Logo AppyLove"/>
        </a>

        <!-- Nav Burger -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav-header"
                aria-controls="navbar-nav-header" aria-expanded="false" aria-label="Toggle navigation">
            <span class="lnr lnr-menu"></span>
            <i class="fas fa-bars"></i>
        </button>

        <!-- Nav hobbies -->
        <div class="collapse navbar-collapse" id="navbar-nav-header">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ path('default_hobbies', { 'alias' : 'musique' }) }}">Musique <i
                                class="fas fa-music"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ path('default_hobbies', { 'alias' : 'sport' }) }}">Sport <i class="fas fa-dumbbell"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ path('default_hobbies', { 'alias' : 'art' }) }}">Art <i class="fas fa-palette"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ path('default_hobbies', { 'alias' : 'tech' }) }}"> Tech <i
                                class="fas fa-chalkboard-teacher"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ path('default_hobbies', { 'alias' : 'voyage' }) }}">Voyage <i
                                class="fas fa-plane-departure"></i> </a>
                </li>

                <li class="nav-item only-desktop">
                    <a class="nav-link" id="side-nav-open" href="#">
                        <span class="lnr lnr-menu"></span>
                    </a>
                </li>
            </ul>


            <!-- Nav menu avec les informations de l'utilisateur -->
            <div class="dropdown pmd-dropdown pmd-user-info ml-auto">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="javascript:void(0);" class="btn-user dropdown-header media align-items-center"
                       data-toggle="dropdown"
                       data-sidebar="true" aria-expanded="false">
                        <img class="mr-2" src="{{ asset("uploads/images/" ~ app.user.featuredImage) }}" width="50"
                             height="50"
                             style="object-fit: cover; object-position: top;" alt="avatar">
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <a class="dropdown-item" href="{{ path('default_mesconvs') }}">Mes conversations</a>
                        <a class="dropdown-item" href="{{ path('profile_update') }}">Paramètres</a>
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</nav>