<!-- nav -->
<nav id="header-navbar" class="navbar navbar-expand-lg py-4">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center text-white" href="{{ path('index') }}">
            <!-- <h3 class="font-weight-bolder mb-0">AppyLove</h3> -->
           <img class="logo" src="{{ asset('assets/img/appylovelogo.png') }}" alt="Logo AppyLove"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav-header"
                aria-controls="navbar-nav-header" aria-expanded="false" aria-label="Toggle navigation">
            <span class="lnr lnr-menu"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-nav-header">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ path('default_hobbies', { 'alias' : 'musique' }) }}">Musique</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ path('default_hobbies', { 'alias' : 'sport' }) }}">Sport</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ path('default_hobbies', { 'alias' : 'art' }) }}">Art</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ path('default_hobbies', { 'alias' : 'tech-it' }) }}">Tech IT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ path('default_hobbies', { 'alias' : 'voyage' }) }}">Voyage</a>
                </li>
                <li class="nav-item">
                    <a id="side-search-open" class="nav-link" href="#">
                        <span class="lnr lnr-magnifier"></span>
                    </a>
                </li>
                <li class="nav-item only-desktop">
                    <a class="nav-link" id="side-nav-open" href="#">
                        <span class="lnr lnr-menu"></span>
                    </a>
                </li>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a class="nav-link" href="{{ path('user_create') }}">Modifier le profil</a>
                    {% endif %}

                    <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                {% else %}
                    <a class="nav-link" href="{{ path('user_create') }}">Inscription</a>
                    <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                {% endif %}


            </ul>
        </div>
    </div>
</nav>

