<!-- nav -->
<body data-spy="scroll" data-target="#navbar" class="static-layout">
<nav id="header-navbar" class="navbar navbar-expand-lg py-4">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center text-white" href="/">
            <img class="logo" src="{{ asset('public/assets/appylovelogo.png') }}" alt="Logo AppyLove"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav-header"
                aria-controls="navbar-nav-header" aria-expanded="false" aria-label="Toggle navigation">
            <span class="lnr lnr-menu"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-nav-header">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ path('default_category', { 'alias' : 'musique' }) }}">Musique</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ path('default_category', { 'alias' : 'sport' }) }}">Sport</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ path('default_category', { 'alias' : 'art' }) }}">Art</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ path('default_category', { 'alias' : 'tech-it' }) }}">Tech IT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ path('default_category', { 'alias' : 'voyage' }) }}">Voyage</a>
                </li>
                <li class="nav-item">
                    <a id="side-search-open" class="nav-link" href="#">
                        <span class="lnr lnr-magnifier"></span>
                    </a>
                </li>
                <li class="nav-item only-desktop">
                    <a class="nav-link" id="side-nav-open" href="#">
                        <span class="lnr lnr-menu"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- nav burger (connecté = page profil, pas connecté = button inscription & connection) -->
<div id="side-nav" class="sidenav">
    <a href="javascript:void(0)" id="side-nav-close">&times;</a>

    <div class="sidenav-content">
        <p>
            Kuncen WB1, Wirobrajan 10010, DIY
        </p>
        <p>
            <span class="fs-16 primary-color">(+68) 120034509</span>
        </p>
        <p>info@yourdomain.com</p>
    </div>
</div>
