{% extends "base.html.twig" %}

{% block title %}Inscription • AppyLove{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css" integrity="sha256-AWdeVMUYtwLH09F6ZHxNgvJI37p+te8hJuSMo44NVm0=" crossorigin="anonymous" />
    <style>
        .custom-file-label { display: none; }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# -- Dropify ------------------ #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js" integrity="sha256-SUaao5Q7ifr2twwET0iyXVy0OVnuFJhGVi5E/dqEiLU=" crossorigin="anonymous"></script>
    <script>
        $('.dropify').dropify({
            messages: {
                default: 'Glissez-d&eacute;posez un fichier ici ou cliquez',
                replace: 'Glissez-d&eacute;posez un fichier ou cliquez pour remplacer',
                remove:  'Supprimer',
                error:   'D&eacute;sol&eacute;, le fichier est trop volumineux'
            }
        });
    </script>
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto">

                <img class="img-fluid mx-auto d-block mb-5"
                     src="{{ asset('assets/img/logo_bleu_rose.png') }}"
                     alt="Logo AppyLove">

                <h3 class="my-4 text-center">Inscription</h3>
                {{ form(form, {attr: {novalidate: 'novalidate'}}) }}
{#                <label class="checkbox-white" for="cgu">#}
{#                    <input id="cgu" name="cgu" type="checkbox" value="1" />#}
{#                    <span class="checkbox-text">#}
{#					Je certifie être majeur(e) et j'accepte les <a class='pop-cgvu'>conditions générales d'utilisation</a>. J'accepte qu'AppyLove collecte et traite mes données sensibles dans le cadre de ses services.				</span>#}
{#                </label>#}
            </div>
        </div>

        <p class="small text-center">Vous avez un compte ?
            <a href="{{ path('app_login') }}">Connectez-vous</a>
        </p>

    </div>



{% endblock %}
